<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headercss">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sidebar 09</title>
    <link th:ref="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" th:href="@{~/forms/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{~/forms/css/style.css}">
    <link rel="stylesheet" th:ref="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{~/template/css/style.css}">
    <link rel="stylesheet" th:href="@{~/forms/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{~/forms/css/style.css}">
    <link rel="stylesheet" th:href="@{~/forms/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{~/forms/css/style.css}">
    <link rel="stylesheet" th:href="@{~/forms/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{~/forms/css/style.css}">
    <link rel="stylesheet" th:href="@{~/forms/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{~/forms/css/style.css}">
    <link rel="stylesheet" th:href="@{~/forms/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{~/forms/css/style.css}">
    <link rel="stylesheet" th:href="@{~/template/css/trackstatus.css}">
</head>
</div>
</html>