<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="txn">
    <section class="txnHistory">
        <form method="post" class="register-form" id="register-form" th:action="@{/user/account/txnHistory}" th:object="${txnHistoryForm}">
            <div class="select-accNo">
                <select th:field="*{accNo}">
                    <option value="">Select Your ACC NO</option>
                    <option th:each="accNo : ${accNumbers}" th:value="${accNo}" th:text="${accNo}"></option>
                </select>
            </div>
            <div class="form-group form-button">
                <input type="submit" name="show-transactions" id="show-transactions" class="form-submit" value="Show Transactions"/>
            </div>
        </form>
    </section>
</div>
</html>