<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{~/forms/fonts/material-icon/css/material-design-iconic-font.min.css}">
<link rel="stylesheet" th:href="@{~/forms/css/style.css}">
<link rel="stylesheet" th:href="@{~/template/css/style.css}">
<body>
<div class="wrapper d-flex align-items-stretch">
    <div th:replace="fragments/navbar :: navbar"/>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <div th:replace="fragments/header :: header"></div>
        <div th:replace="fragments/statusfragment :: applicationStatus"></div>
    </div>
</div>
<div th:replace="fragments/footerjs :: footerjs"/>
</body>
</html>