<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{~/forms/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{~/forms/css/style.css}">

</head>
<body>
<div class="main">
    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div>
                <h2 style="text-align: center; color: red;" th:if="${regError}">Registration Failed !!</h2>
            </div>
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Correspondance Details</h2>
                    <form method="POST" class="register-form" id="register-form" th:action="@{/submitRegister2}" th:object="${registerForm2}">
                        <div class="form-group">
                            <label for="line1"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="line1" id="line1" th:field="*{line1}" placeholder="Line 1" th:required="true"/>
                        </div>
                        <div class="form-group">
                            <label for="line2"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="line2" id="line2" th:field="*{line2}" placeholder="Line 2"/>
                        </div>
                        <div class="form-group">
                            <label for="zipCode"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="zipCode" id="zipCode" th:field="*{zipCode}" placeholder="Zip code" th:required="true"/>
                        </div>
                        <div class="form-group">
                            <label for="city"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="city" id="city" th:field="*{city}" placeholder="City" th:required="true"/>
                        </div>
                        <div class="form-group">
                            <label for="state"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="state" id="state" th:field="*{state}" placeholder="State" th:required="true"/>
                        </div>
                        <div class="form-group">
                            <label for="country"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="country" id="country" th:field="*{country}" placeholder="country" th:required="true"/>
                        </div>
                        <input type="hidden" th:field="*{email}" id="email">
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a th:href="@{~/forms#}" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img th:src="@{~/forms/images/signup-image.jpg}" alt="sing up image"></figure>
                    <a th:href="@{~/login}" class="signup-image-link}">I am already a member</a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- JS -->
<script th:src="@{~/forms/vendor/jquery/jquery.min..js}"></script>
<script th:src="@{~/forms/js/main..js}"></script>
<script>
    $(function() {
        $("#dateOfBirth").datepicker({dateFormat:"yyyy-MM-dd"});
    });
</script>
</body>
</html>
