<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
  <section class="txnHistory">
    <form method="post" class="register-form" id="register-form" th:action="@{/user/account/txnHistory}" th:object="${txnHistoryForm}">
        <div class="select-accNo">
            <select th:field="*{accNo}">
                <option value="">Select Your ACC NO</option>
                <option th:each="accNo : ${accNumbers}" th:value="${accNo}" th:text="${accNo}"></option>
            </select>
        </div>
    </form>
  </section>
</body>
</html>